@{
    var customer = ViewData.Model;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="col-md-6 offset-3">

            <h1>Enter Customer Informations</h1>


            <form method="POST">
                @if (ViewBag.SMsg != null)
                {
                    <p style="color:green; font-weight: bolder;">@(ViewBag.SMsg)</p>  
                }
                else if (ViewBag.FMsg != null)
                {
                    <p style="color:red; font-weight: bolder;">@(ViewBag.FMsg)</p>
                }
                    
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" name="Name" value="@(customer.Name)" required>
                </div>

                <div class="form-group">
                    <label for="code">Code:</label>
                    <input type="text" class="form-control" name="Code" value="@(customer.Code)" required>
                </div>

                <div class="form-group">
                    <label for="address">Address:</label>
                    <input type="text" class="form-control" name="Address" value="@(customer.Address)" required>
                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" class="form-control" name="Email" value="@(customer.Email)" required>
                </div>

                <div class="form-group">
                    <label for="contact">Contact:</label>
                    <input type="text" class="form-control" name="Contact" value="@(customer.Contact)" required>
                </div>

                <div class="form-group">
                    <label for="age">Age:</label>
                    <input type="text" class="form-control" name="Age" value="@(customer.Age)" required>
                </div>

                <div class="form-group">
                    <label for="loyalityPoint">Loyality Point:</label>
                    <input type="text" class="form-control" name="LoyalityPoint" value="@(customer.LoyalityPoint)" required>
                </div>

                <button type="submit" class="btn btn-primary btn-block">Save</button>

            </form>
        </div>

    </div> <!--end Container-->
</body>
</html>
